{% extends 'gestao/base.html' %}

{% block title %}Início - Lista de Imóveis{% endblock %}

{% block content %}
    <h2>Imóveis Cadastrados</h2>
        {% for imovel in imoveis %}
            <div class="card_imovel container">
                <h3>{{ imovel.endereco_completo}} </h3> 
                <p> Proprietário: {{ imovel.proprietario.first_name}} {{ imovel.proprietario.last_name}} </p>
                <a href="#", class="btn">Ver Chaves</a>
        {% empty %}
            <li>Nenhum imóvel encontrado no banco de dados.</li>
        {% endfor %}
{% endblock %}